body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $color-dark;
  font-size: $text-normal-size;
  line-height: 1.5;
  text-align: justify;
  //font-family: 'Lobster', cursive;
  //font-family: 'Courgette', cursive;
  //font-family: 'Itim', cursive;
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  cursor: default;
}

.container-main {
  max-width: 1240px;
  margin: 100px auto;
  margin-bottom: 150px;
}

//ZAHLAVI
.header {
  background-color: $color-base;
  //background-image: linear-gradient($bg-color-dark 5%, $color-base 60%, $bg-color-dark 90%);
  background-image: linear-gradient($color-base 50%, $bg-color-dark 100%);
  display: flex;
  justify-content: center;

  @media screen and (min-width: 1000px) {
    min-height: 320px;
  }

  &__title {
    font-size: 4em;
    margin: 0;

    @media screen and (min-width: 1000px) {
    font-size: $text-logo-size;
    }
  }

  &__description {
    display: flex;
    justify-content: flex-start;

    @media screen and (min-width: 1000px) {
      font-size: $text-larger-size;
      }
  }
}

//MENU
.navigation {
  position: sticky;
  top: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-menu {
  background-color: $bg-color-dark;
  margin: 0;
  padding: 0;
  //background-image: linear-gradient($bg-color-dark 15%, $background-color 100%);
}
.menu {
  list-style: none;
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;

  a {
    color: $color-dark;
    text-decoration: none;
    font-size: $text-larger-size;
  }

  li {
    padding: 1em;
  }

  li:hover {
    color: black;
  }

  @media screen and (min-width: 640px) {
  display: flex;
  justify-content: space-between;
  }
}

//ZAPATI
.footer {
  margin-top: $margin-large-size;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: $bg-color-dark;
  background-image: linear-gradient($color-base 30%, $bg-color-dark 100%);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: $text-larger-size;
  padding: 1em;
}
