body{
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $dark-color;
    font-size: $normal-size;
}

.container-main{
    max-width: 1040px;
    margin: 0 auto;
    // display: flex;
    // height: 100vh;
    // flex-direction: column;
    // justify-content: space-between;
}

//ZAHLAVI
.header{
    background-color: $color-base;
    //background-image: linear-gradient($bg-color-dark 5%, $color-base 60%, $bg-color-dark 90%);
    background-image: linear-gradient($color-base 50%, $bg-color-dark 100%);
    min-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title{
    font-size: $largest-size;
    margin: 0;
}

.header__description{
    font-size: $larger-size;
    display: flex;
    justify-content: flex-start;
}

//MENU
.menu{
    background-color: $bg-color-dark;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

    li{
        padding: 1em;
        font-size: $larger-size;
    
        a{
            color: $dark-color;
            text-decoration: none;
        }
    }
}

//ZAPATI
.footer{
background-color: $bg-color-dark;
padding: 20px;
}

.footer__text{
    font-size: $larger-size;
    text-align: center;
}
