.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: $margin-normal-size;
  margin: 40px 0px;
}

.product__image-container {
  margin: 0;
}

.product__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: zoom-in;
  transition: transform .3s ease-in-out;
}

.zoom {
  cursor: zoom-out;
  transform: scale(2);
}

.product__description {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__button {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  padding: 15px 32px;
  text-align: center;
  border: none;
  font-size: $text-larger-size;
  border-radius: 5px;
  color: $color-dark;
  background-color: $bg-color-dark;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}

.product__button:hover {
  background-color: $color-dark;
  color: $bg-color;
}

.product__order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  margin: 0;
  color: $color-dark;
  font-size: $text-larger-size;
}

.product__order {
  display: none;
  font-size: $text-normal-size;

  input {
    width: 100%;
    line-height: 2;
    margin-bottom: $margin-smallest-size;
    border: none;
    border: 2px solid $bg-color-darker;
    font-size: $text-normal-size;
  }

  input:focus {
    background-color: $color-base;
  }

  #message {
    width: 100%;
    line-height: 2;
    margin-bottom: $margin-smallest-size;
    border: none;
    border: 2px solid $bg-color-darker;
    font-size: $text-normal-size;
  }

  #message:focus {
    background-color: $color-base;
  }

  .product__botton-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product__button-form {
    align-self: center;
    grid-column: 2/3;
  }
}
