$background-color:#fff;
$bg-color-dark:	#7fe8ba ;
$bg-color-darker:#52d89e ;
$color-base: #aaf0d1;
$dark-color: #3a5055;
//$bg-color-dark:	#13a699;
//$bg-color-dark:	#13a699;
//$bg-color-dark:	#13a699;
//$dark-color: #536878;
//$dark-color: #4a4e69;

//velikost textu
$text-logo-size: 180px;
$text-largest-size: 50px;
$text-larger-size: 22px;
$text-normal-size: 16px;

//margin
$margin-large-size: 120px;
$margin-normal-size:100px;
$margin-small-size:40px;
$margin-smaller-size:20px;
$margin-smallest-size:14px;