$bg-color:#fff;
$bg-color-dark:	#7fe8ba ;
$bg-color-darker:#52d89e ;
$color-base: #aaf0d1;
$color-dark: #3a5055;
//$bg-color-dark:	#13a699;
//$bg-color-dark:	#13a699;
//$bg-color-dark:	#13a699;
//$dark-color: #536878;
//$dark-color: #4a4e69;

//velikost textu
$text-logo-size: 10rem;
$text-largest-size: 2.5rem;
$text-larger-size: 1.2rem;
$text-normal-size: 100%;

//margin
$margin-large-size: 8rem;
$margin-normal-size: 6rem;
$margin-smallest-size: 1rem;