$background-color:#fff7ed;
//$bg-color-dark:	#13a699;
$bg-color-dark:	#7fe8ba ;
$color-base: #aaf0d1;
//$dark-color: #536878;
//$dark-color: #4a4e69;
$dark-color: #3a5055;

//velikost textu
$text-largest-size: 180px;
$text-larger-size: 26px;
$text-normal-size: 16px;

//margin
$margin-large-size: 120px;
$margin-normal-size:100px;