<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Ecolotte</title>
  </head>
  <body>
    <div class="container-main">
      <header class="header" role="banner">
        <div class="header_texts">
          <h1 class="header_title">Ecolotte</h1>
          <p class="header_description">...nejlepsi rousky v Cr</p>
        </div>
      </header>

      <nav role="navigation">
        <ul class="menu">
          <li><a href=""></a>O značce</li>
          <li><a href=""></a>Produkty</li>
          <li><a href=""></a>Jak objednat</li>
          <li><a href=""></a>Kontakt</li>
        </ul>
      </nav>


      {{content|safe}}

      <footer class="footer">
        <p class="footer_text">copyright</p>
      </footer>
    </div>
  </body>
</html>
