<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Courgette&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>Ecolotte</title>
  </head>
  <body>
      <header class="header" role="banner">
        <div class="header__texts">
          <h1 class="header__title">Ecolotte</h1>
          <p class="header__description">...nejlepsi rousky v Cr</p>
        </div>
      </header>

      <nav class="navigation" role="navigation">
        <div class="container-menu">
          <ul class="menu">
            <a href="/"><li>O ZNAČCE</li></a>
            <a href="/produkt/"><li>PRODUKTY</li></a>
            <a href="/jakobjednat/"><li>JAK OBJEDNAT</li></a>
            <a href="/kontakt/"><li>KONTAKT</li></a>
          </ul>
        </div>
      </nav>

        <div class="container-main">
          {{ content | safe }}
        </div>
        
      <footer class="footer">
        <p class="footer__text">Copyright 2021</p>
      </footer>
  </body>
</html>
