---
layout: layouts/hlavni
---

<section class="product">
  <figure class="product__image-container">
    <img
      class="product__arrow-left"
      src="/images/icons/arrow-left.svg"
      width="30"
      height="30"
      alt="arrow-left"
      onclick="arrowLeft()"
    />
    <img
      class="product__image"
      src="/images/{{ obrazek }}"
      width="500"
      alt="foto trika"
    />
    <img
      class="product__arrow-right"
      src="/images/icons/arrow-right.svg"
      width="30"
      height="30"
      alt="arrow-right"
      onclick="arrowRight()"
    />
  </figure>
  <div class="product__description">
    <div class="product__texts">
      <h2 class="product__title">{{ title }}</h2>
      <p class="product__text">{{ content | safe }}</p>
    </div>
    <div class="product__order-info">
      <p class="product__price">{{ cena }}</p>
      <button class="product__button-order" onclick="showFormOrder()">
        OBJEDNAT
      </button>
    </div>
  </div>

  <div class="product__images">
    <img src="/images/{{ obrazek }}" width="160" alt="foto trika" />
    <img src="/images/{{ obrazek }}" width="160" alt="foto trika" />
    <img src="/images/{{ obrazek }}" width="160" alt="foto trika" />
  </div>

  <form class="product__order">
    <label for="name">Jméno:</label><br />
    <input type="text" name="name" id="name" /><br />

    <label for="surname">Příjmení:</label><br />
    <input type="text" name="surname" id="surname" /><br />

    <label for="number">Počet kusů:</label><br />
    <input type="number" name="number" id="number" /><br />

    <label>Poznámka:</label><br />
    <textarea id="message" placeholder="Zadej poznámku.."></textarea><br />

    <button onclick="openEmail()">Odeslat objednávku</button>
  </form>

  <script>
    let image = document.querySelector('.product__image');
    let sourceImageText = image.src;
    let arraySourceImage = sourceImageText.split('.');
    let nameImage = arraySourceImage[0];
    let indexImage = arraySourceImage[1];
    let formatImage = arraySourceImage[2];
    let index = indexImage;
    image.addEventListener("error", imgError);

    function imgError(image) {
      index = 0;
      arrowRight();
    }

    function arrowRight() {
      index++;
      image.src = nameImage + '.' + index + '.' + formatImage;
    }

    function showFormOrder() {
      let form = document.querySelector('.product__order');
      form.style.display = 'block';
    }

    function openEmail() {
      window.location.href = `mailto:recipient#%#example.com?subject=Ecolotte-Objednavka: ${
        document.querySelector('.product__title').textContent
      }
           &body=Produkt: ${
             document.querySelector('.product__title').textContent
           },
           %0D%0AJmeno: ${document.querySelector('#name').value},
           %0D%0APrijmeni: ${document.querySelector('#surname').value},
           %0D%0APocet kusu: ${document.querySelector('#number').value},
           %0D%0APoznamka: ${document.getElementById('message').value}`.replace(
        '#%#',
        '@'
      );
    }
  </script>
</section>
