---
layout: layouts/hlavni
---

<section class="product">
  <figure class="product__image-container">
    <img
      class="product__image"
      src="/images/{{ obrazek }}"
      width="500"
      alt="foto produktu"
    />
  </figure>
  <div class="product__description">
    <div class="product__texts">
      <h2 class="product__title">{{ title }}</h2>
      <p class="product__text">{{ content | safe }}</p>
    </div>
    <div class="product__order-info">
      <p class="product__price">{{ cena }}</p>
      <button
        class="product__button product__button-order"
        onclick="showFormOrder()"
      >
        NOVÁ OBJEDNÁVKA
      </button>
    </div>
  </div>

  <figure class="product__image-container">
    <img class="product__image" src="/images/{{ obrazek2 }}" width="500" alt="foto trika" />
  </figure>

  <form class="product__order">
    <label for="name">JMÉNO:</label><br />
    <input type="text" name="name" id="name" /><br />

    <label for="surname">PŘÍJMENÍ:</label><br />
    <input type="text" name="surname" id="surname" /><br />

    <label for="number">POČET KUSŮ:</label><br />
    <input type="number" name="number" id="number" /><br />

    <label>POZNÁMKA:</label><br />
    <textarea id="message" placeholder="Zadej poznámku.."></textarea><br />
    <div class="product__botton-container">
      <button
        class="product__button product__button-form"
        onclick="openEmail()"
      >
        ODESLAT
      </button>
    </div>
  </form>

  <script>
    function showFormOrder() {
      let form = document.querySelector('.product__order');
      form.style.display = 'block';
    }

    function openEmail() {
      window.location.href = `mailto:recipient#%#example.com?subject=Ecolotte-Objednavka: ${
        document.querySelector('.product__title').textContent
      }
           &body=Produkt: ${
             document.querySelector('.product__title').textContent
           },
           %0D%0AJmeno: ${document.querySelector('#name').value},
           %0D%0APrijmeni: ${document.querySelector('#surname').value},
           %0D%0APocet kusu: ${document.querySelector('#number').value},
           %0D%0APoznamka: ${document.getElementById('message').value}`.replace(
        '#%#',
        '@'
      );
    }
  </script>
</section>
