---
layout: layouts/hlavni
---

<section class="product">
  <figure class="product_image">
    <img src="/images/{{obrazek}}" alt="foto trika" />
  </figure>
  <div class="product_texts">
    <h2>{{ title }}</h2>
    <p>{{ content | safe }}</p>
    <p>{{ cena }}</p>
  </div>
</section>
